<!DOCTYPE HTML>
<html>
{% load static %}
   <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>버스 시간표</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
   <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
   <meta name="author" content="freehtml5.co" />

     <!-- Facebook and Twitter integration -->
   <meta property="og:title" content=""/>
   <meta property="og:image" content=""/>
   <meta property="og:url" content=""/>
   <meta property="og:site_name" content=""/>
   <meta property="og:description" content=""/>
   <meta name="twitter:title" content="" />
   <meta name="twitter:image" content="" />
   <meta name="twitter:url" content="" />
   <meta name="twitter:card" content="" />

   <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">


   <!-- Animate.css -->
   <link rel="stylesheet" href="{% static 'css/animate.css' %}">
   <!-- Icomoon Icon Fonts-->
   <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
   <!-- Bootstrap  -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">


   <!-- Magnific Popup -->
   <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

   <!-- Owl Carousel  -->
   <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

   <!-- Flexslider  -->
   <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">

   <!-- Pricing -->
   <link rel="stylesheet" href="{% static 'css/pricing.css' %}">

   <!-- Theme style  -->
   <link rel="stylesheet" href="{% static 'css/style.css' %}">

   <!-- Modernizr JS -->
   <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
   <!-- FOR IE9 below -->
   <!--[if lt IE 9]>
   <script src="{% static 'js/respond.min.js' %}"></script>
   <![endif]-->

<style>
   #map { height: 65vh; width: 100%; }

   .table {
      margin-top: 70px !important;
      margin-bottom: 70px !important;
      max-width: 1480px;
      width: 100%;
      height: 100px;
      color: white;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin: 0 auto;
      text-align: center;
   }

   .table-responsive {
         overflow-x: auto;
       -webkit-overflow-scrolling: touch;
     }

     .table-responsive .table {
       width: max-content;
       min-width: 80%;
     }

    @media (max-width: 768px) {
        nav.fh5co-nav {
          display: none !important;
        }
    }

    .js-fh5co-nav-toggle {
      display: none !important;
    }
</style>
     </head>

   <body>

   <div class="fh5co-loader"></div>

   <div id="page">
    <nav class="fh5co-nav" role="navigation">
      <div class="top">
         <div class="container">
            <div class="row">
               <div class="col-xs-12 text-right">
                  <p class="site"></p>
                  <p class="num">Call: +01 123 456 7890</p>
                  <ul class="fh5co-social">
                     <li><a href="#"><i class="icon-facebook2"></i></a></li>
                     <li><a href="#"><i class="icon-twitter2"></i></a></li>
                     <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                     <li><a href="#"><i class="icon-github"></i></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>

      <div class="top-menu">
         <div class="container">
            <div class="row">
               <div class="col-xs-2">
                  <div id="fh5co-logo"><a href="{% url 'web:home' %}"><i class="icon-study"></i>돔고돔락<span></span></a></div>
               </div>
               <div class="col-xs-10 text-right menu-1">
                  <ul>
                     <li><a href="{% url 'web:home' %}">홈페이지</a></li>
                     <li class="has-dropdown">
                        <a href="{% url 'web:guide' %}">생활관 안내</a>
                        <ul class="dropdown">
                           {% if user.is_authenticated %}
                           <li><a href="{% url 'web:check_in' %}">입실 신청</a></li>
                           <li><a href="{% url 'web:outside' %}">외박 신청</a></li>
                           <li><a href="{% url 'web:info' %}">생활관 안내</a></li>
                           <li><a href="{% url 'web:rules' %}">생활관 규칙</a></li>
                           {% else %}
                           <li><a href="" onclick="alert('로그인이 필요한 페이지입니다.'); window.location.href='{% url 'web:login' %}'; return false;">입실 신청</a></li>
                           <li><a href="" onclick="alert('로그인이 필요한 페이지입니다.'); window.location.href='{% url 'web:login' %}'; return false;">외박 신청</a></li>
                           <li><a href="{% url 'web:info' %}">생활관 안내</a></li>
                           <li><a href="{% url 'web:rules' %}">생활관 규칙</a></li>
                           {% endif %}
                        </ul>
                     </li>
                     <li class="has-dropdown">
                        <a href="{% url 'web:community' %}">커뮤니티</a>
                        <ul class="dropdown">
                           {% if user.is_authenticated %}
                           <li><a href="{% url 'web:notice' %}">공지 사항</a></li>
                           <li><a href="{% url 'web:community_home' %}">자유 게시판</a></li>
                           {% else %}
                           <li><a href="" onclick="alert('로그인이 필요한 페이지입니다.'); window.location.href='{% url 'web:login' %}'; return false;">공지 사항</a></li>
                           <li><a href="" onclick="alert('로그인이 필요한 페이지입니다.'); window.location.href='{% url 'web:login' %}'; return false;">자유 게시판</a></li>
                           {% endif %}
                        </ul>
                     </li>
                     <li class="has-dropdown">
                        {% if user.is_authenticated %}
                           <a href="{% url 'web:mypage' %}">마이페이지</a>
                        {% else %}
                           <a href="" onclick="alert('로그인이 필요한 페이지입니다.'); window.location.href='{% url 'web:login' %}'; return false;">마이페이지</a>
                        {% endif %}
                     </li>
                     {% if user.is_authenticated %}
                    <li class="btn-cta" style="margin-right: 10px;">
                       <span class="btn-cta">{{ user.userprofile.full_name|default:user.username }}님, 환영합니다!</span>
                    </li>
                    <li class="btn-cta">
                       <form method="post" action="{% url 'web:logout' %}" style="display: inline;">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-link p-0" style="text-decoration: none; color: blue;">
                             로그아웃
                          </button>
                       </form>
                    </li>
                    {% else %}
                    <li class="btn-cta">
                       <a href="{% url 'web:login' %}"><span>로그인</span></a>
                    </li>
                    {% endif %}

                  </ul>
               </div>
            </div>
         </div>
      </div>
   </nav>

   <!-- jQuery -->
   <script src="{% static 'js/jquery.min.js' %}"></script>
   <!-- jQuery Easing -->
   <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
   <!-- Bootstrap -->
   <script src="{% static 'js/bootstrap.min.js' %}"></script>
   <!-- Waypoints -->
   <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
   <!-- Stellar Parallax -->
   <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
   <!-- Carousel -->
   <script src="{% static 'js/owl.carousel.min.js' %}"></script>
   <!-- Flexslider -->
   <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
   <!-- countTo -->
   <script src="{% static 'js/jquery.countTo.js' %}"></script>
   <!-- Magnific Popup -->
   <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
   <script src="{% static 'js/magnific-popup-options.js' %}"></script>
   <!-- Count Down -->
   <script src="{% static 'js/simplyCountdown.js' %}"></script>
   <!-- Main -->
   <script src="{% static 'js/main.js' %}"></script>

    <div class="container mt-5">
      <h2 class="text-center mb-4">버스 정류장 위치 및 경로</h2>
      <div id="map"></div>
    </div>

    <div class="container text-center mt-4 mb-3">
      <button class="btn btn-secondary" onclick="showTable('terminal')">천안 터미널 방면</button>
      <button class="btn btn-secondary" onclick="showTable('asan')">천안 아산역 방면</button>
    </div>

    <div class="table-responsive" id="table-terminal">
      <table class="table" id="dataset">
            <thead>
            <tr>
                <th scope="col">셔틀 버스</th>
                <th scope="col">천안 터미널</th>
                <th scope="col">두정역</th>
                <th scope="col">롯데마트</th>
                <th scope="col">백석동</th>
                <th scope="col">삼일아파트</th>
                <th scope="col">학교 앞 삼거리</th>
                <th scope="col">학교 도착</th>
                <th scope="col"></th>
                <th scope="col">학교 출발</th>
                <th scope="col">학교 앞 삼거리</th>
                <th scope="col">삼일아파트</th>
                <th scope="col">백석동</th>
                <th scope="col">롯데마트</th>
                <th scope="col">두정역</th>
                <th scope="col">천안 터미널</th>
            </tr>
            </thead>
            <tbody>
            <tr><td>(1호차)</td><td>08:25</td><td>08:35</td><td>08:40</td><td>08:45</td><td>08:55</td><td>09:08</td><td>09:10</td><td></td><td>09:20</td><td>09:22</td><td>09:35</td><td>09:45</td><td>09:50</td><td>09:55</td><td>10:05</td></tr>
            <tr><td>(2호차)</td><td>09:25</td><td>09:35</td><td>09:40</td><td>09:45</td><td>09:55</td><td>10:08</td><td>10:10</td><td></td><td>10:20</td><td>10:22</td><td>10:35</td><td>10:45</td><td>10:50</td><td>10:55</td><td>11:05</td></tr>
            <tr><td>(1호차)</td><td>10:25</td><td>10:35</td><td>10:40</td><td>10:45</td><td>10:55</td><td>11:08</td><td>11:10</td><td></td><td>11:20</td><td>11:22</td><td>11:35</td><td>11:45</td><td>11:50</td><td>11:55</td><td>12:05</td></tr>
            <tr><td>(2호차)</td><td>11:25</td><td>11:35</td><td>11:40</td><td>11:45</td><td>11:55</td><td>12:08</td><td>12:10</td><td></td><td>12:20</td><td>12:22</td><td>12:35</td><td>12:45</td><td>12:50</td><td>12:55</td><td>13:05</td></tr>
            <tr><td>(1호차)</td><td>12:25</td><td>12:35</td><td>12:40</td><td>12:45</td><td>12:55</td><td>13:08</td><td>13:10</td><td></td><td>13:20</td><td>13:22</td><td>13:35</td><td>13:45</td><td>13:50</td><td>13:55</td><td>14:05</td></tr>
            <tr><td>(2호차)</td><td>13:25</td><td>13:35</td><td>13:40</td><td>13:45</td><td>13:55</td><td>14:08</td><td>14:10</td><td></td><td>14:20</td><td>14:22</td><td>14:35</td><td>14:45</td><td>14:50</td><td>14:55</td><td>15:05</td></tr>
            <tr><td>(1호차)</td><td>14:25</td><td>14:35</td><td>14:40</td><td>14:45</td><td>14:55</td><td>15:08</td><td>15:10</td><td></td><td>15:20</td><td>15:22</td><td>15:35</td><td>15:45</td><td>15:50</td><td>15:55</td><td>16:05</td></tr>
            <tr><td>(2호차)</td><td>15:25</td><td>15:35</td><td>15:40</td><td>15:45</td><td>15:55</td><td>16:08</td><td>16:10</td><td></td><td>16:20</td><td>16:22</td><td>16:35</td><td>16:45</td><td>16:50</td><td>16:55</td><td>17:05</td></tr>
            <tr><td>(1호차)</td><td>16:25</td><td>16:35</td><td>16:40</td><td>16:45</td><td>16:55</td><td>17:08</td><td>17:10</td><td></td><td>17:20</td><td>17:22</td><td>17:35</td><td>17:45</td><td>17:50</td><td>17:55</td><td>18:05</td></tr>
            <tr><td>(2호차)</td><td>17:25</td><td>17:35</td><td>17:40</td><td>17:45</td><td>17:55</td><td>18:08</td><td>18:10</td><td></td><td>18:20</td><td>18:22</td><td>18:35</td><td>18:45</td><td>18:50</td><td>18:55</td><td>19:05</td></tr>
            <tr><td>(1호차)</td><td>18:25</td><td>18:35</td><td>18:40</td><td>18:45</td><td>18:55</td><td>19:08</td><td>19:10</td><td></td><td>19:20</td><td>19:22</td><td>19:35</td><td>19:45</td><td>19:50</td><td>19:55</td><td>20:05</td></tr>
            <tr><td>(2호차)</td><td>19:25</td><td>19:35</td><td>19:40</td><td>19:45</td><td>19:55</td><td>20:08</td><td>20:10</td><td></td><td>20:20</td><td>20:22</td><td>20:35</td><td>20:45</td><td>20:50</td><td>20:55</td><td>21:05</td></tr>
            </tbody>
      </table>
    </div>

    <div class="table-responsive" id="table-asan" style="display: none;">
      <table class="table">
        <thead>
            <tr>
                <th scope="col">셔틀 버스</th>
                <th scope="col">천안 아산역(KTX)</th>
                <th scope="col">탕정역</th>
                <th scope="col">동산2 교차로</th>
                <th scope="col">학교 앞 삼거리</th>
                <th scope="col">학교 도착</th>
                <th scope="col"></th>
                <th scope="col">학교 출발</th>
                <th scope="col">학교 앞 삼거리</th>
                <th scope="col">동산2 교차로</th>
                <th scope="col">탕정역</th>
                <th scope="col">천안 아산역(KTX)</th>
            </tr>
            </thead>
            <tbody>
            <tr><td>(3호차)</td><td>08:30</td><td>08:40</td><td>08:50</td><td>08:58</td><td>09:00</td><td></td><td>09:00</td><td>09:22</td><td>09:35</td><td>09:45</td><td>09:30</td></tr>
            <tr><td>(3호차)</td><td>09:30</td><td>09:40</td><td>09:50</td><td>09:58</td><td>10:00</td><td></td><td>10:00</td><td>10:22</td><td>10:35</td><td>10:45</td><td>10:30</td></tr>
            <tr><td>(3호차)</td><td>10:30</td><td>10:40</td><td>10:50</td><td>10:58</td><td>11:00</td><td></td><td>11:00</td><td>11:22</td><td>11:35</td><td>11:45</td><td>11:30</td></tr>
            <tr><td>(3호차)</td><td>11:30</td><td>11:40</td><td>11:50</td><td>11:58</td><td>12:00</td><td></td><td>12:00</td><td>12:22</td><td>12:35</td><td>12:45</td><td>12:30</td></tr>
            <tr><td>(3호차)</td><td><--</td><td>--</td><td>--</td><td>--</td><td>휴게</td><td></td><td>시간</td><td>--</td><td>--</td><td>--</td><td>--></td></tr>
            <tr><td>(3호차)</td><td>13:30</td><td>13:40</td><td>13:50</td><td>13:58</td><td>14:00</td><td></td><td>14:00</td><td>14:22</td><td>14:35</td><td>14:45</td><td>14:30</td></tr>
            <tr><td>(3호차)</td><td>14:30</td><td>14:40</td><td>14:50</td><td>14:58</td><td>15:00</td><td></td><td>15:00</td><td>15:22</td><td>15:35</td><td>15:45</td><td>15:30</td></tr>
            <tr><td>(3호차)</td><td>15:30</td><td>15:40</td><td>15:50</td><td>15:58</td><td>16:00</td><td></td><td>16:00</td><td>16:22</td><td>16:35</td><td>16:45</td><td>16:30</td></tr>
            <tr><td>(3호차)</td><td>16:30</td><td>16:40</td><td>16:50</td><td>16:58</td><td>17:00</td><td></td><td>17:00</td><td>17:22</td><td>17:35</td><td>17:45</td><td>17:30</td></tr>
            <tr><td>(3호차)</td><td>17:30</td><td>17:40</td><td>17:50</td><td>17:58</td><td>18:00</td><td></td><td>18:00</td><td>18:22</td><td>18:35</td><td>18:45</td><td>18:30</td></tr>
            <tr><td>(3호차)</td><td>18:30</td><td>18:40</td><td>18:50</td><td>18:58</td><td>19:00</td><td></td><td>19:00</td><td>19:22</td><td>19:35</td><td>19:45</td><td>19:30</td></tr>
            <tr><td>(3호차)</td><td>19:30</td><td>19:40</td><td>19:50</td><td>19:58</td><td>20:00</td><td></td><td>20:00</td><td>20:22</td><td>20:35</td><td>20:45</td><td>20:30</td></tr>
            </tbody>
      </table>
    </div>

    <script>
      function showTable(type) {
        const terminal = document.getElementById("table-terminal");
        const asan = document.getElementById("table-asan");

        if (type === "terminal") {
          terminal.style.display = "block";
          asan.style.display = "none";
        } else {
          terminal.style.display = "none";
          asan.style.display = "block";
        }
      }
    </script>

    <script>
      let map;
      let polyline;
      let markers = [];

      const terminalPoints = [
          { lat: 36.8521, lng: 127.0599, visible: true },   // 출발 (중앙)
          { lat: 36.8521, lng: 127.0585, visible: false },
          { lat: 36.8514, lng: 127.0558, visible: false },
          { lat: 36.8508, lng: 127.0543, visible: false },
          { lat: 36.8495, lng: 127.0516, visible: false },
          { lat: 36.8482, lng: 127.0520, visible: false },
          { lat: 36.8469, lng: 127.0521, visible: false },
          { lat: 36.8451, lng: 127.0512, visible: true },
          { lat: 36.8446, lng: 127.0534, visible: false },
          { lat: 36.8423, lng: 127.0596, visible: false },
          { lat: 36.8418, lng: 127.0624, visible: false },
          { lat: 36.8414, lng: 127.0645, visible: false },
          { lat: 36.8382, lng: 127.0739, visible: false },
          { lat: 36.8371, lng: 127.0762, visible: false },
          { lat: 36.8363, lng: 127.0778, visible: false },
          { lat: 36.8342, lng: 127.0836, visible: false },
          { lat: 36.8298, lng: 127.0938, visible: false },
          { lat: 36.8284, lng: 127.0968, visible: false },
          { lat: 36.8264, lng: 127.0997, visible: true },
          { lat: 36.8262, lng: 127.1002, visible: false },
          { lat: 36.8252, lng: 127.1024, visible: false },
          { lat: 36.8242, lng: 127.1048, visible: false },
          { lat: 36.8234, lng: 127.1071, visible: false },
          { lat: 36.8229, lng: 127.1099, visible: false },
          { lat: 36.8226, lng: 127.1149, visible: false },
          { lat: 36.8227, lng: 127.1166, visible: false },
          { lat: 36.8232, lng: 127.1211, visible: true },
          { lat: 36.8236, lng: 127.1239, visible: false },
          { lat: 36.8265, lng: 127.1329, visible: false },
          { lat: 36.8258, lng: 127.1373, visible: false },
          { lat: 36.8257, lng: 127.1401, visible: true },
          { lat: 36.8252, lng: 127.1445, visible: false },
          { lat: 36.8295, lng: 127.1451, visible: false },
          { lat: 36.8332, lng: 127.1455, visible: false },
          { lat: 36.8330, lng: 127.1473, visible: true },
          { lat: 36.8319, lng: 127.1518, visible: false },
          { lat: 36.8257, lng: 127.1529, visible: false },
          { lat: 36.8209, lng: 127.1520, visible: false },
          { lat: 36.8196, lng: 127.1516, visible: false },
          { lat: 36.8186, lng: 127.1521, visible: false },
          { lat: 36.8187, lng: 127.1562, visible: true }    // 도착
      ];

      const asanPoints = [
          { lat: 36.8521, lng: 127.0599, visible: true },   // 출발 (중앙)
          { lat: 36.8521, lng: 127.0585, visible: false },
          { lat: 36.8514, lng: 127.0558, visible: false },
          { lat: 36.8508, lng: 127.0543, visible: false },
          { lat: 36.8495, lng: 127.0516, visible: false },
          { lat: 36.8482, lng: 127.0520, visible: false },
          { lat: 36.8469, lng: 127.0521, visible: false },
          { lat: 36.8451, lng: 127.0512, visible: true },
          { lat: 36.8446, lng: 127.0534, visible: false },
          { lat: 36.8423, lng: 127.0596, visible: false },
          { lat: 36.8418, lng: 127.0624, visible: false },
          { lat: 36.8414, lng: 127.0645, visible: false },
          { lat: 36.8382, lng: 127.0739, visible: false },
          { lat: 36.8371, lng: 127.0762, visible: false },
          { lat: 36.8363, lng: 127.0778, visible: false },
          { lat: 36.8342, lng: 127.0836, visible: false },
          { lat: 36.8298, lng: 127.0938, visible: false },
          { lat: 36.8278, lng: 127.0920, visible: false },
          { lat: 36.8238, lng: 127.0893, visible: false },
          { lat: 36.8224, lng: 127.0887, visible: true },
          { lat: 36.8203, lng: 127.0881, visible: false },
          { lat: 36.8187, lng: 127.0885, visible: false },
          { lat: 36.8175, lng: 127.0891, visible: false },
          { lat: 36.8163, lng: 127.0890, visible: false },
          { lat: 36.8157, lng: 127.0888, visible: false },
          { lat: 36.8136, lng: 127.0867, visible: false },
          { lat: 36.8123, lng: 127.0863, visible: false },
          { lat: 36.8024, lng: 127.0864, visible: false },
          { lat: 36.7996, lng: 127.0868, visible: false },
          { lat: 36.7957, lng: 127.0875, visible: false },
          { lat: 36.7897, lng: 127.0881, visible: false },
          { lat: 36.7900, lng: 127.0900, visible: true },
          { lat: 36.7905, lng: 127.0930, visible: false },
          { lat: 36.7909, lng: 127.0941, visible: false },
          { lat: 36.7912, lng: 127.0946, visible: false },
          { lat: 36.7921, lng: 127.0955, visible: false },
          { lat: 36.7947, lng: 127.0978, visible: false },
          { lat: 36.7955, lng: 127.0988, visible: false },
          { lat: 36.7959, lng: 127.0998, visible: false },
          { lat: 36.7962, lng: 127.1010, visible: false },
          { lat: 36.7965, lng: 127.1021, visible: true }    // 도착
      ];

      function drawMap(points) {
        markers.forEach(marker => marker.setMap(null));
        markers = [];

        if (polyline) {
          polyline.setMap(null);
        }

        const path = [];

        points.forEach((p, i) => {
          const latlng = new kakao.maps.LatLng(p.lat, p.lng);
          path.push(latlng);

          if (p.visible) {
            const marker = new kakao.maps.Marker({
              map: map,
              position: latlng,
              title: `지점 ${i + 1}`
            });
            markers.push(marker);
          }
        });

        polyline = new kakao.maps.Polyline({
          path: path,
          strokeWeight: 5,
          strokeColor: '#FF0000',
          strokeOpacity: 0.8,
          strokeStyle: 'solid'
        });

        polyline.setMap(map);
      }

      function showTable(type) {
        const terminal = document.getElementById("table-terminal");
        const asan = document.getElementById("table-asan");

        if (type === "terminal") {
          terminal.style.display = "block";
          asan.style.display = "none";
          drawMap(terminalPoints);
        } else {
          terminal.style.display = "none";
          asan.style.display = "block";
          drawMap(asanPoints);
        }
      }

      window.onload = function () {
        map = new kakao.maps.Map(document.getElementById("map"), {
          center: new kakao.maps.LatLng(36.8251, 127.0981),
          level: 7
        });

        drawMap(terminalPoints);
      };
    </script>
   </div>

 <!--  Kakao 지도 API -->
<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=aca3f50bafe4f955bd781786417506fb&libraries=services,geometry"></script>

   </body>
</html>

